body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Light Sky Blue */
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
}

.login-container, .attendance-container, .leave-container {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: inline-block;
}

input, button {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #4caf50; /* Green */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

p {
    color: #666;
    margin: 10px 0;
}
